<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<a th:href="@{/listar}">volver</a>
	<br>
	<form th:action="@{/form}" th:object="${producto}" method="post" enctype="multipart/form-data">

		<input type="hidden" th:field="*{id}" th:if="${producto.id != null}"></input>
		<!-- es necesario para flujos reactivos -->

		<div>
			<label for="nombre">Nombre</label>
			<div>
				<input type="text" th:field="*{nombre}"></input>
			</div>
			<small th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
		</div>

		<div>
			<label for="precio">Precio</label>
			<div>
				<input type="number" th:field="*{precio}"></input>
			</div>
			<small th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></small>
		</div>

		<div>
			<label for="nombre">Fecha</label>
			<div>
				<input type="date" th:field="*{createAt}"></input>
			</div>
		</div>

		<div>
			<label for="categoria.id">Categoria</label>
			<div>
				<select th:field="*{categoria.id}">
					<option value=""> -- selecciona una categoria </option>
					<option th:each="categoria : ${categorias}"
						th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
				</select>
			</div>

			<small th:if="${#fields.hasErrors('categoria.id')}"
				th:errors="*{categoria.id}"></small>
		</div>
		
		<div>
			<label for="file" >Foto</label>
			<div>
				<input type="file" name="file"/>
			</div>			
		</div>

		<div>
			<input type="submit" th:value="${boton}"></input>
		</div>
	</form>
</body>
</html>