<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>

	<div th:text="${param.error}" th:if="${param.error} != null"></div>
	<div th:text="${param.success}" th:if="${param.success} != null"></div>

	<a th:href="@{/api/socialweb-productos/productos/form}">crear +</a>
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>nombre</th>
				<th>precio</th>
				<th>createAt</th>
				<th>Categoria</th>
				<th>Editar</th>
				<th>Editar react</th>
				<th>Eliminar</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto : ${productos}">
				<td><a th:href="@{/api/socialweb-productos/productos/ver/}+${producto.id}" th:text="${#strings.abbreviate(producto.id,10)}"></a></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${#numbers.formatCurrency(producto.precio)}"></td>
				<td th:text="${#calendars.format(producto.createAt,'dd/MM/yyyy')}"></td>
				<td th:text="${producto.categoria.nombre}"></td>
				<td><a th:href=@{/api/socialweb-productos/productos/form/}+${producto.id}>editar</a></td>
				<td><a th:href=@{/api/socialweb-productos/productos/reactiveform/}+${producto.id}>editar
						react</a></td>
				<td><a th:href=@{/api/socialweb-productos/productos/eliminar/}+${producto.id}
					onclick="return confirm('¿estas seguro?')">eliminar</a></td>
			</tr>

		</tbody>

	</table>
</body>
</html>